{% extends 'base.html' %}
{% load static %}
{% block titre %}Panier{% endblock %}

{% block content %}
<section class="final section-content padding-y bg mt-4">
  <div class="container">
    {% if not cart_items %}
<h2 class="mt-2 text-center">
  Votre panier est vide 
  <svg xmlns="http://www.w3.org/2000/svg" color="black" width="26" height="26" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
  </svg>
</h2>
 <br>
<center class="mb-4">
  <a href="{% url 'boutique' %}" class="btn bg-primary btn">
    Poursuivre mes achats
  </a>
</center>
{% else %}
<div class="row mt-2 ">
  <aside class="col-lg-6 position mb-4" style="background-color:white;">
    <div class="card-body mb-4">
      <div class="row clearfix">
        {% for cart_item in cart_items %}
        <div class="col-sm-6 mt-2">
          <a href="{{cart_item.product.get_url}}">
            <img src="{{ cart_item.product.images.url }}" class="figure-img img-fluid rounded" alt="{{cart_item.product.name}}">
          </a>
          <!-- <figure class="">

              <img src="{{ cart_item.product.images.url }}" class="figure-img img-fluid rounded" alt="{{cart_item.product.name}}">
            <figcaption class="figure-caption"></figcaption>
          </figure> -->
        </div>
        <div class="col-sm-6 mb-2">
             {{ cart_item.product.product_name }}.
            <br>
            <span class="text-muted">
              <b>
                {% if cart_item.variations.all %}
                  {% for item in cart_item.variations.all %}
                    {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                  {% endfor %}
                {% endif %}
              </b>
            </span>
            <span class="text-muted">Prix de l'article :</span>
            <span class="text-muted">{{ cart_item.product.price }}€</span>
            <br>
            <span class="mb-2">À payer :</span>
            <span class="">{{ cart_item.sub_total}}€</span>
            <div class="row mt-2">

              <div class="col-2 input-minus me-2 mt-1">
                <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}" class="btn" style="background-color:whitesmoke;" type="button" id="button-minus"><i class="fa fa-minus"></i></a>
              </div>
              
              <div class="col-4 inline-block">
                <form action="">
                  <input type="text" class="form-control text-center" value="{{ cart_item.quantity }}">
                </form>
              </div>

              <div class="col-2 input-plus me-1 mt-1">
                <form action="{% url 'add_cart' cart_item.product.id %}" method="POST">
                  {% csrf_token %}
                  {% for item in cart_item.variations.all %}
                  <input type="hidden" name="{{ item.variation_category | lower }}" value="{{ item.variation_value | capfirst }}">
									{% endfor %}
                  <button style="background-color:whitesmoke;" class="btn btn-light" type="submit" id="button-plus"><i class="fa fa-plus"></i></button>
                </form>
              </div>

              <div class="d-grid text-center mt-2">
                <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" onclick="return confirm('Êtes-vous sûre de vouloir supprimer cet article?')" class="btn btn-danger">Supprimer</a>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
  </aside>

  <aside class="col-lg-4" style="float: end;">

    <div class="card">
      <div class="card-body">
        <dl class="dlist-align">
          <dt>Prix total:</dt>
          <dd class="text-right">€ {{total}}</dd>
        </dl>
        <dl class="dlist-align">
          <dt>Tax:</dt>
          <dd class="text-right"> € {{tax}}</dd>
        </dl>
        <dl class="dlist-align">
          <dt>Total + tax:</dt>
          <dd class="text-right text-dark b"><strong>€ {{grand_total}}</strong></dd>
        </dl>
        <hr>
        <p class="text-center mb-3">
          <img src="{% static 'payments.png' %}" height="26">
        </p>

        <div class="d-grid text-center mt-4">
          <a href="{% url 'checkout' %}" class="btn btn-primary btn-sm">Commander</a>
        </div>
  
        <div class="d-grid text-center mt-2">
          <a href="{% url 'boutique' %}" class="btn btn-sm" style="background-color:rgb(204, 173, 230);">Poursuivre mes achats</a>
        </div>

      </div> <!-- card-body.// -->

    </div> <!-- card.// -->
    <!-- <div class="alert alert-danger" role="alert">
      <b>Please Note: </b>This is a demo website. Do not try to make real payments.
    </div> -->
  </aside>
</div>
{% endif %}
</section>
{% endblock %}