{% extends 'base.html' %}
{% load static %}

{% block titre %}Compte{% endblock %}

{% block content %}

<section class="section-conten padding-y bg mt-3">

    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'includes/dashboard_sidebar.html' %}
            <div class="col-md-9" id="Myorders">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Votre historique de commande</strong>
                    </header>
                    <div class="container" style="overflow-x:auto;">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Commande #</th>
                                            <th scope="col">Nom de facturation</th>
                                            <th scope="col">Téléphone</th>
                                            <th scope="col">Commande total</th>
                                            <th scope="col">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                        <tr>
                                            <th scope="row"><a href="{% url 'order_detail' order.order_number %}">{{order.order_number}}</a>
                                            </th>
                                            <td>{{order.full_name}}</td>
                                            <td>{{order.phone}}</td>
                                            <td>{{order.order_total}}€</td>
                                            <td>{{order.created_at}}</td>
                                        </tr>
                                        {% endfor %}
                    
                                    </tbody>
                                </table>
                            </div>
                    
                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                </article> <!-- order-group.// -->
            </div>
    </div> <!-- row.// -->
    </div>
    
    
    </section>

{% endblock %}