body {
    /* background:linear-gradient(#8a307f, #79a7d3, #6883bc); */
    background: whitesmoke;
}

/* .section-content {
    background: linear-gradient(black,#CCADE6, blue);
} */
.contenu{
    margin-top: 4px;
}
.category {
    background: palegreen;
    /* background: url("/media/category_img/bg.jpg"); */
    /* background: linear-gradient(black,#CCADE6,blue); */
}

.recherche {
    margin-top: 15px;
}

.text-justify {
    text-align: justify;
}

.float-end {
    float: inline-end;
}

.input-group{
    width: 100%;
}

.finalisation{
    margin-left: 2%;
    margin-right: 2%;
}
.marge{
    margin-top: 100px;
}

.adresse{
    margin-bottom: 2px;
    background-color: white;
}


/* <table width="100">
<tr>
  <td>
    <img src="{% static 'payments.png' %}" alt="">
    <!-- <div class="text-center mt-1">
      <img src="{% static 'payments.png' %}" alt="">
    </div> -->
  </td>
</tr>

<tr>
  <td class="d-grid">
    <a href="{% url 'checkout' %}" class="btn btn-primary btn">Commander</a>
    <!-- <div class="d-grid text-center mt-5">
      <a href="{% url 'checkout' %}" class="btn btn-primary btn">Commander</a>
    </div> -->
  </td>
</tr>

<tr>
  <td>
    <a href="{% url 'boutique' %}" class="btn bg-light btn">Poursuivre mes achats</a>
  </td>
</tr>
</table> */