{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <aside class="">
        <form action="{% url 'add_cart' article.id %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="card" style="max-width: 1140px;">
                    <div class="row g-0">
                      <div class="col-md-4 mt-2">
                        <article class="mainImage">
                            <img src="{{ article.images.url }}" class="img-fluid rounded-start image" alt="{{ article.product_name }}">
                        </article>
                        <ul class="thumb">
                            <li class="">
                                <a href="{{ article.images.url }}" target="mainImage"><img src="{{ article.images.url }}" alt="{{ article.product_name }}" class="image"></a>
                                {% for i in product_gallery %}
                                <a href="{{i.image.url}}" target="mainImage"><img src="{{i.image.url}}" alt="Product image"></a>
                                {% endfor %}
                            </li>
                        </ul>
                        <br>
                        <!-- <p class="card-text"><small class="text-muted">Dernière mise à jour le {{article.modified_date}}</small></p> -->
                      </div>
                      
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{ article.product_name }}.</h5>
                          <div class="rating-star">
                            <span>
                                <i class="fa{% if article.averageReview < 0.5 %}-regular fa-star {% elif article.averageReview >= 0.5 and article.averageReview < 1 %}-solid fa-star-half-o {% elif article.averageReview >= 1 %}-solid fa-star {% endif %}" aria-hidden="true"></i>
                                <i class="fa{% if article.averageReview < 1.5 %}-regular fa-star {% elif article.averageReview >= 1.5 and article.averageReview < 2 %}-solid fa-star-half-o {% elif article.averageReview >= 2 %}-solid fa-star {% endif %}" aria-hidden="true"></i>
                                <i class="fa{% if article.averageReview < 2.5 %}-regular fa-star {% elif article.averageReview >= 2.5 and article.averageReview < 3 %}-solid fa-star-half-o {% elif article.averageReview >= 3 %}-solid fa-star {% endif %}" aria-hidden="true"></i>
                                <i class="fa{% if article.averageReview < 3.5 %}-regular fa-star {% elif article.averageReview >= 3.5 and article.averageReview < 4 %}-solid fa-star-half-o {% elif article.averageReview >= 4 %}-solid fa-star {% endif %}" aria-hidden="true"></i>
                                <i class="fa{% if article.averageReview < 4.5 %}-regular fa-star {% elif article.averageReview >= 4.5 and article.averageReview < 5 %}-solid fa-star-half-o {% elif article.averageReview >= 5 %}-solid fa-star {% endif %}" aria-hidden="true"></i>
                                {{article.countReview}} avis
                            </span>
                          </div>
                          
                          <p class="card-text h3">{{article.price}}€</p>
                          <p><strike class="text-muted">300€</strike></p>
                          <p class="text-justify">
                            {{article.description}}
                          </p>
                            {% if article.category.category_name == "Chaussure" or article.category.category_name == "Perruque" or article.category.category_name == "Mèche"%}
                        <div class="row">
                            <div class="col mt-2">
                                <h6>Couleur</h6>
                                <select name="color" class="form-control" required>
                                    <option value="" disabled selected class="text-center">Sélectionner</option>
                                    {% for i in article.variation_set.colors %}
                                    <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="col mb-3 mt-2">
                                <h6>Taille</h6>
                                <select name="size" class="form-control" required>
                                    <option value="" disabled selected class="text-center">Sélectionner</option>
                                    {% for i in article.variation_set.sizes %}
                                        <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- ajout -->
                            <!--  url 'remove_cart' cart_item.product.id cart_item.id  -->
                            
                        </div>
                    {% endif %}
                    {% if article.stock <= 0 %}
                    <span class="text-danger">
                        <b>Il semblerait que cet article soit en rupture de stock pour le moment</b>
                        <svg xmlns="http://www.w3.org/2000/svg" color="black" width="26" height="26" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                        </svg>
                    </span>
                    <hr>
                    {% else %}
    
                    {% if article.stock == 1 %}
                    <span class="text-danger">
                        <b>Dépêchez-vous Il ne reste plus que {{article.stock}} article en stock.</b>
                    </span>
                    <hr>
                    {% elif article.stock <= 10 %}
                    <span class="text-danger">
                        <b>Il ne reste plus que {{article.stock}} articles en stock.</b>
                        <hr>
                    </span>
                    {% elif article.stock > 10 %}
                    <span style="color:green;"><b>{{article.stock}} articles en stock</b></span>
                    <hr>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-6 mb-2">
                            <div class="d-grid">
                                <button type="submit" href="#" class="btn bg-warning">Ajouter au panier</button>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <div class=" d-grid">
                                <a href="{% url 'cart' %}" class="btn btn-light btn-block">
                                    <!-- Voir le panier -->
                                    <span class="text-right">
                                        <i class="fas fa-eye"></i>
                                    </span>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    {% endif %}
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </aside>

    <aside class="mb-3">

        <div class="row">
            <div class="col-md-9">
                
                <form action="{% url 'submit_review' article.id %}" method="POST">
                    {% csrf_token %}
                    <h5>Donner votre avis</h5>
                    
                    <div>
                        <!-- rating -->
                        <label>Combien donnez-vous à cet article?</label>
                        <br>
                        <div class="rate">
                            <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
                            <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
                            <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
                            <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
                            <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
                            <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
                            <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
                            <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
                            <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
                            <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
                        </div>
                        <br>
                        Titre du commentaire
                        <input type="text" class="form-control" name="subject">
                        <br>
                        Soumettre un avis:
                        <textarea name="review" rows="5" class="form-control"></textarea>
                        <br>
                        {% if user.is_authenticated %}
                            {% if orderproduct %}
                                <input type="submit" value="Soumettre l'avis" class="btn btn-primary">
                            {% else %}
                                <p>Vous devez acheter cet article pour soumettre un avis.</p>
                            {% endif %}
                        {% else %}
                            <p><span>Vous devez être connecté pour soumettre un avis.</span> <a href="{% url 'login' %}">Se connecter maintenant</a></p>
                        {% endif %}
                    </div>
            {% include 'includes/alerts.html' %}
                </form>
                <br>
                <header class="section-heading">
                    <h3>Avis des clients</h3>
                    <span class="rating-star">
                        {{article.countReview}} avis
                        <i class="fa{% if article.averageReview < 0.5 %}-regular fa-star {% elif article.averageReview >= 0.5 and article.averageReview < 1 %}-solid fa-star-half-o {% elif article.averageReview >= 1 %}-solid fa-star {% endif %}" aria-hidden="true"></i>
                        <i class="fa{% if article.averageReview < 1.5 %}-regular fa-star {% elif article.averageReview >= 1.5 and article.averageReview < 2 %}-solid fa-star-half-o {% elif article.averageReview >= 2 %}-solid fa-star {% endif %}" aria-hidden="true"></i>
                        <i class="fa{% if article.averageReview < 2.5 %}-regular fa-star {% elif article.averageReview >= 2.5 and article.averageReview < 3 %}-solid fa-star-half-o {% elif article.averageReview >= 3 %}-solid fa-star {% endif %}" aria-hidden="true"></i>
                        <i class="fa{% if article.averageReview < 3.5 %}-regular fa-star {% elif article.averageReview >= 3.5 and article.averageReview < 4 %}-solid fa-star-half-o {% elif article.averageReview >= 4 %}-solid fa-star {% endif %}" aria-hidden="true"></i>
                        <i class="fa{% if article.averageReview < 4.5 %}-regular fa-star {% elif article.averageReview >= 4.5 and article.averageReview < 5 %}-solid fa-star-half-o {% elif article.averageReview >= 5 %}-solid fa-star {% endif %}" aria-hidden="true"></i>
                        soit une note de {{article.averageReview}}/5
                    </span>
                </header>
            {% for review in reviews %}
                <article class="box mb-3 mt-3" style="background-color: white;">
                    <div class="icontext w-100">
                        <!-- <img src="{% static '/images/woman.jpg' %}" alt="photoclient" class="img-xs icon rounded-circle" style="max-height: 40px;"> -->
                        <!-- <span class="mb-1">{{ review.user.full_name}}</span> -->
                        <div class="text">
                            <span class="date text-muted float-md-end">{{review.updated_at}}</span>
                            <h6 class="">{{ review.user.full_name}} <small style="color: red;">Achat vérifié</small></h6>
                            <div class="rating-star">
                                <span>
                                    {{review.rating}}
                                    <i class="fa{% if review.rating == 0.5 %}-solid fa-star-half-o{% elif review.rating < 1 %}-regular fa-star {% elif review.rating >= 1 %}-solid fa-star {% endif %}" aria-hidden="true"></i>
                                    <i class="fa{% if review.rating == 1.5 %}-solid fa-star-half-o{% elif review.rating < 2 %}-regular fa-star {% elif review.rating >= 2 %}-solid fa-star {% endif %}" aria-hidden="true"></i>
                                    <i class="fa{% if review.rating == 2.5 %}-solid fa-star-half-o{% elif review.rating < 3 %}-regular fa-star {% elif review.rating >= 3 %}-solid fa-star {% endif %}" aria-hidden="true"></i>
                                    <i class="fa{% if review.rating == 3.5 %}-solid fa-star-half-o{% elif review.rating < 4 %}-regular fa-star {% elif review.rating >= 4 %}-solid fa-star {% endif %}" aria-hidden="true"></i>
                                    <i class="fa{% if review.rating == 4.5 %}-solid fa-star-half-o{% elif review.rating < 5 %}-regular fa-star {% elif review.rating >= 5 %}-solid fa-star {% endif %}" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <h6>{{review.subject}}</h6>
                        <p class="text-justify">
                            {{review.review}}
                        </p>
                    </div>
                </article>
            {% endfor %}
            </div>
        </div>
    </aside>
</div>

{% endblock %}


<!-- {% for cart_item in cart_items %}
                    <div class="col-2 input-minus me-2 mt-1">
                        <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}" class="btn" style="background-color:whitesmoke;" type="button" id="button-minus"><i class="fa fa-minus"></i></a>
                    </div>
                      
                    <div class="col-4 inline-block">
                        <form action="">
                          <input type="text" class="form-control text-center" value="{{ cart_item.quantity }}">
                        </form>
                    </div>
                      Yoyo
        {% endfor %} -->